@import "common/colors";

@import "mixins/shadow";
@import "mixins/transition";
@import "mixins/gradient";

@import "common/footer";
@import "common/navbar";
@import "common/gradient";
@import "common/color-item";
@import "common/hover-item";

@import "sections/random-colors-section";

body {
  @include gradient(left, #70e1f5, #ffd194);
}

.italic-font {
  font-family: 'Niconne', cursive;
}

section {
  h2 {
    text-align: center;
    font-size: 4em;
  }
}