meta(http-equiv="Content-Language")
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="format-detection", content="telephone=no")
meta(name="keywords", content="Color-Chooser")
meta(name="description", content="Color-Chooser")
meta(name="viewport", content="width=device-width")
title Color-Chooser

link(rel="shortcut icon",type="image/x-icon",href="images/favicon.ico")
//icons-awesome
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel="stylesheet")
//fonts
link(href='http://fonts.googleapis.com/css?family=Niconne',rel='stylesheet',type='text/css')

//Jquery
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
//script(type="text/javascript", src="javascripts/libs/jquery-1.11.1.js")

//soundcloud API
script(type="text/javascript", src="http://w.soundcloud.com/player/api.js")

//AngularJS
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js")
//script(type="text/javascript", src="javascripts/libs/angular.min.js")
//script(type="text/javascript", src="javascripts/libs/angular.min.js.map")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js")
//script(type="text/javascript", src="javascripts/libs/angular-resource.min.js")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js")

//Firebase
script(src='https://cdn.firebase.com/js/client/2.0.4/firebase.js')

//Bootstrap
script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
link(media="all", rel="stylesheet", type="text/css", href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
//Bootstrap-UI angular
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js")

//AngularFire
script(src="//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js")

//momentjs
script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js")

//custom
link(rel='stylesheet', href='stylesheets/style.css')

script(type="text/javascript", src="javascripts/scripts.js")
