html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

#footer {
  position: absolute;
  z-index: 25;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

.navbar {
  border: 0;
  opacity: 0.9; }
  .navbar .container {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .navbar .container a {
      font-size: 1.5em;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0.7; }
      .navbar .container a:hover {
        opacity: 0.9; }
    .navbar .container a.navbar-brand {
      opacity: 1; }
  .navbar .container.scrolled {
    padding: 1em; }
    .navbar .container.scrolled a {
      font-size: 2em !important; }

.pre-content-line {
  width: 100%;
  height: 0.1em; }

.gradient {
  background: rgba(255, 138, 84, 0.9);
  background: -moz-linear-gradient(left, rgba(255, 138, 84, 0.9) 0%, rgba(219, 184, 97, 0.9) 11%, rgba(163, 255, 117, 0.9) 28%, rgba(43, 213, 255, 0.9) 50%, rgba(77, 0, 166, 0.9) 74%, rgba(125, 14, 175, 0.9) 81%, rgba(255, 51, 201, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 138, 84, 0.9) 0%, rgba(219, 184, 97, 0.9) 11%, rgba(163, 255, 117, 0.9) 28%, rgba(43, 213, 255, 0.9) 50%, rgba(77, 0, 166, 0.9) 74%, rgba(125, 14, 175, 0.9) 81%, rgba(255, 51, 201, 0.9) 100%);
  background: -o-linear-gradient(left, rgba(255, 138, 84, 0.9) 0%, rgba(219, 184, 97, 0.9) 11%, rgba(163, 255, 117, 0.9) 28%, rgba(43, 213, 255, 0.9) 50%, rgba(77, 0, 166, 0.9) 74%, rgba(125, 14, 175, 0.9) 81%, rgba(255, 51, 201, 0.9) 100%);
  background: -ms-linear-gradient(left, rgba(255, 138, 84, 0.9) 0%, rgba(219, 184, 97, 0.9) 11%, rgba(163, 255, 117, 0.9) 28%, rgba(43, 213, 255, 0.9) 50%, rgba(77, 0, 166, 0.9) 74%, rgba(125, 14, 175, 0.9) 81%, rgba(255, 51, 201, 0.9) 100%);
  background: linear-gradient(to right, rgba(255, 138, 84, 0.9) 0%, rgba(219, 184, 97, 0.9) 11%, rgba(163, 255, 117, 0.9) 28%, rgba(43, 213, 255, 0.9) 50%, rgba(77, 0, 166, 0.9) 74%, rgba(125, 14, 175, 0.9) 81%, rgba(255, 51, 201, 0.9) 100%); }

.color-box {
  width: 10em;
  height: 10em; }

.color-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  position: relative; }
  .color-items .color-item {
    position: relative;
    margin: 0.2em;
    text-align: center; }
    .color-items .color-item .color-input {
      margin-top: 2.7em;
      width: 70%;
      background: transparent;
      cursor: pointer;
      opacity: 0.6;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      border: 0;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .color-items .color-item:hover .color-input {
      opacity: 0.9;
      text-shadow: 0 0 10px #969696; }
    .color-items .color-item .color-title {
      opacity: 0.7;
      line-height: 10em; }

.generate-more i {
  line-height: 3.4em !important; }

.hover-item {
  overflow: hidden; }
  .hover-item .top-section {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: bottom 0.3s ease-in-out;
    -moz-transition: bottom 0.3s ease-in-out;
    -o-transition: bottom 0.3s ease-in-out;
    transition: bottom 0.3s ease-in-out; }
  .hover-item:hover .top-section {
    bottom: -70%; }

section.random-colors {
  margin-top: 4em; }

body {
  background: -webkit-linear-gradient(left, #70e1f5, #ffd194);
  background: -moz-linear-gradient(left, #70e1f5, #ffd194);
  background: -ms-linear-gradient(left, #70e1f5, #ffd194);
  background: -o-linear-gradient(left, #70e1f5, #ffd194);
  background: linear-gradient(left, #70e1f5, #ffd194); }

.italic-font {
  font-family: 'Niconne', cursive; }

section h2 {
  text-align: center;
  font-size: 4em; }
