extends layouts/layout

block content
    .content(ng-controller='generateColors', style='background-color: {{backgroundColor}}')
        .pre-content-line.gradient
        .bg-color
            h1= title
            p Welcome to #{title}
        .gn-color.color-items
            .color-item.magic-box.color-box(ng-repeat="colorItem in  generated", style="background-color: {{colorItem.hexColor}}", ng-click="setBackgroundColor(colorItem)")
                .front
                .back.color-box
                    strong.color-title(style="color: {{colorItem.color}}") {{colorItem.hexColor}}

            .color-item.color-box.masked-box(ng-click="generateRandom()")
                strong.color-title(style="color: #C65153;") Generate
                .mask.color-box
                    strong.color-title(style="color: #C65153;") More?