extends layouts/layout

block content
    .content(ng-controller='backgroundColor',style='background-color: {{backgroundColor}}')
        .pre-content-line.gradient
        h1= title
        p Welcome to #{title}
