doctype html
html
    head
        title=title
        block headSection
            include common-blocks/head-section
    body
        block content

        block footer-block
            include common-blocks/footer