<!DOCTYPE html>
<html ng-app="colorApp">
  <head>
    <title></title>
    <meta http-equiv="Content-Language">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="Color-Chooser">
    <meta name="description" content="Color-Chooser">
    <meta name="viewport" content="width=device-width">
    <title>Color-Chooser</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!--icons-awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Niconne" rel="stylesheet" type="text/css">
    <!--Jquery-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--script(type="text/javascript", src="javascripts/libs/jquery-1.11.1.js")-->
    <!--soundcloud API-->
    <script type="text/javascript" src="http://w.soundcloud.com/player/api.js"></script>
    <!--AngularJS-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <!--script(type="text/javascript", src="javascripts/libs/angular.min.js")-->
    <!--script(type="text/javascript", src="javascripts/libs/angular.min.js.map")-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
    <!--script(type="text/javascript", src="javascripts/libs/angular-resource.min.js")-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <!--Bootstrap-->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link media="all" rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--Bootstrap-UI angular-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js"></script>
    <!--AngularFire-->
    <script src="//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <!--momentjs-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
    <!--custom-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/scripts.js"></script>
  </head>
  <body>
    <div class="header">
      <nav ng-controller="navController" ng-style="{'background-color': currentData.randomColors[currentData.randomIndex].background}" class="navbar navbar-default navbar-fixed-top italic-font">
        <div nav-class-directive nav-class="scrolled" class="container">
          <div class="navbar-header">
            <soundcloud track="65576692"></soundcloud>
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" ng-style="{'color': currentData.randomColors[currentData.randomIndex].color}" scroll-to-item scroll-to="#random-colors" scroll-coff="-75" class="navbar-brand">Color chooser</a>
          </div>
          <div id="navbar" aria-expanded="false" style="height: 1px;" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" ng-style="{'color': currentData.randomColors[currentData.randomIndex].color}" scroll-to-item scroll-to="#random-colors" scroll-coff="-75">Random</a></li>
              <li><a href="#" ng-style="{'color': currentData.randomColors[currentData.randomIndex].color}" scroll-to-item scroll-to="#popular-colors" scroll-coff="-75">Most popular</a></li>
              <li><a href="#" ng-style="{'color': currentData.randomColors[currentData.randomIndex].color}">Selected</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="content">
      <section class="random-colors">
        <h2 id="random-colors" class="italic-font">Random colors</h2>
        <div ng-controller="generateColorsController" class="color-items">
          <div ng-repeat="colorItem in currentData.randomColors" style="background-color: white" class="color-item color-box hover-item">
            <input ng-model="colorItem.backgroundInput" ng-change="colorChange(colorItem)" type="text" class="color-input">
            <div ng-style="{'background-color' : colorItem.background}" ng-click="setBackgroundColor($index)" class="top-section color-box"><strong ng-style="{'color' : colorItem.color}" class="color-title">{{colorItem.background}}</strong></div>
          </div>
          <div ng-click="generateRandom()" style="background-color: white;" class="color-item color-box hover-item generate-more"><strong style="color: #C65153;" class="color-title">Generate</strong>
            <div style="background-color: #18bc9c;" class="top-section color-box"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
          </div>
        </div>
      </section>
      <section class="most-popular-colors">
        <h2 id="popular-colors" class="italic-font">Most popular colors</h2>
      </section>
      <div ng-controller="generateColorsController" class="color-items">
        <div ng-repeat="colorItem in currentData.randomColors" ng-style="{'background-color' : colorItem.background}" ng-click="setBackgroundColor($index)" class="color-item color-box">
          <input ng-model="colorItem.backgroundInput" ng-change="colorChange(colorItem)" ng-style="{'color' : colorItem.color}" type="text" class="color-input">
        </div>
        <div ng-click="generateRandom()" style="background-color: white;" class="color-item color-box hover-item generate-more"><strong style="color: #C65153;" class="color-title">Generate</strong>
          <div style="background-color: #18bc9c;" class="top-section color-box"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div id="footer" class="gradient">
        <div class="container"><span>Created by Yaroslav Zabara.</span></div>
      </div>
    </footer>
  </body>
</html>