<div class="player">
    <div ng-switch on="playing" ng-click="play()">
        <img ng-switch-when="true" id="playing"
             src="https://w.soundcloud.com/icon/assets/images/orange_white_32-94fc761.png" width="32" height="32"
             alt="SoundCloud Logo" class="loaded">
        <img ng-switch-when="false" id="not-playing"
             src="https://w.soundcloud.com/icon/assets/images/white_orange_32-94fc761.png" width="32" height="32"
             alt="SoundCloud Logo" class="loaded">
    </div>
</div>
