$red:             #b84d45 !default;
$blue:            #2c3e50 !default;
$turquoise:       #18bc9c !default;
$yellow:          #f0bf00 !default;
$green:			#00FF00 !default;
$purple:          #975CC6 !default;
$blueGreen:       #336E7B !default;
$darkPurple:      #8E44AD !default;
$orange:      	#E74C3C !default;
$grey:      		#808080 !default;

$default-color:         #40966D;