.color-box {
  width: 10em;
  height: 10em;
  border-radius: 1em;
}

.color-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  position: relative;

  .color-item {
    position: relative;
    margin: 0.1em;
    text-align: center;

    .color-input {
      margin-top: 2.7em;
      width: 70%;
      background: transparent;
      cursor: pointer;
      opacity: 0.7;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      border: 1px inset #CCCCCC;
    }

    .color-title {
      opacity: 0.7;
      line-height: 10em;
    }
  }
}

.generate-more {
  i {
    line-height: 3.4em !important;
  }
}