@import "../mixins/transition";

.hover-item {
  overflow:hidden;

  .top-section {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    @include transition(bottom .3s ease-in-out);
  }

  &:hover {
    .top-section{
      bottom: -70%;
    }
  }
}